<div class="container">
  <div class="row">

    <div class="col-md-12">
      <prometheus-table [config]="config"></prometheus-table>
    </div>

    <!-- <hr>

    <div class="col-md-12">
      <h4>Todos</h4>
    </div>

    <div class="col-md-12">
      <div class="row">

        <div class="col-md-6">
          <ul class="list-group" *ngIf="todos$ | async as todos">
            <li *ngFor="let todo of todos" class="list-group-item">
              <strong>{{todo.likes}}</strong>
              <span>{{todo.text}}</span>
              <button class="btn btn-info" (click)="updateDoc(todo.id)">Editar</button>
              <button class="btn btn-danger" (click)="deleteDoc(todo.id)">Borrar</button>
              <button class="btn btn-success" (click)="modifyDoc(todo.id, 'likes')">Like</button>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="list-group" *ngIf="query$ | async as todos">
            <li *ngFor="let todo of todos" class="list-group-item">
              <strong>{{todo.likes}}</strong>
              <span>{{todo.text}}</span>
              <button class="btn btn-info" (click)="updateDocKey(todo.id)">Editar</button>
              <button class="btn btn-danger" (click)="deleteDocKey(todo.id)">Borrar</button>
              <button class="btn btn-success" (click)="modifyDoc(todo.id, 'likes', key)">Like</button>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="row">

        <div class="col-md-6">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-12">
                <h5>Add Normal</h5>
              </div>

              <div class="col-md-12 form-group">
                <label for="">Text</label>
                <input type="text" class="form-control" [(ngModel)]="text">
              </div>

              <div class="col-md-12">
                <button class="btn btn-primary w-100" (click)="addDoc()">Agregar</button>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-12">
                <h5>Add With Key</h5>
              </div>

              <div class="col-md-12 form-group">
                <label for="">Text</label>
                <input type="text" class="form-control" [(ngModel)]="text">
              </div>

              <div class="col-md-12">
                <button class="btn btn-primary w-100" (click)="addDocKey()">Agregar con Key</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div> -->

    <!-- <div class="col-md-12">
      <helios-smart-form #testForm [config]="config" (heliosSubmit)="onSubmit($event)"></helios-smart-form>
    </div>

    <div class="col-md-12">
      <button (click)="setRandomPass()">Set Random Password</button>
    </div> -->

    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
